<div class="row mt-5">
  <div class="col-lg-4">
    <div class="card p-2">
      <div class="card-body">
        <%= render partial: "layouts/flash" %>
        <%= simple_form_for resource, as: resource_name, url: session_path(resource_name), html: { class: "small" } do |f| %>
          <%= f.input :email, label: false, placeholder: "Email", autofocus: true %>
          <%= f.input :password, placeholder: "Password", label: false %>
          <%= f.submit "Log in", class: "btn btn-outline-success btn-block" %>
        <% end %>
        <div class="small">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="card border-0 p-5">
      <div class="card-body">
        <p class="text-center align-middle p-5">
          <code>You've found a hidden page. Well done!</code>
        </p>
      </div>
    </div>
  </div>
</div>
