<div class="web_url">
  <div class="row">
    <div class="col-md-4">
      <% if f.object.publication? %>
        <%= f.input :title, collection: ListItem.in_list(:publication_sources), value_method: :label, include_blank: false %>
      <% else %>
        <%= f.input :title, collection: ListItem.in_list(:personal_sources), value_method: :label, required: false %>
      <% end %>
    </div>
    <div class="col-md-8">
      <%= f.input :url, required: f.object.publication? %>
    </div>
    <%= f.hidden_field :code %>
  </div>
  <%= link_to_remove_association "remove", f, wrapper_class: "web_url" %>
</div>
