<% @scholars.in_groups_of(3).each do |grouped_scholars| %>
  <div class="row">
    <% grouped_scholars.compact.each do |scholar| %>
      <div class="col-md-4">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
          <div class="card-body d-flex flex-column align-items-start">
            <strong class="d-inline-block mb-2 <%= scholar.discipline.root.code %>"><%= scholar.discipline.root %></strong>
            <h5 class="mb-0">
              <%= scholar.name %>
            </h5>
            <div class="mb-1 text-muted small"><%= scholar.discipline %></div>
            <p class="card-text mb-auto"><%= scholar.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
