<div class="mb-2">
  <h4>
    <%= Scholar.name.pluralize  %>
    <%= link_to fa_icon("user-plus"), new_scholar_path, class: "btn btn-outline-primary float-right", title: "Add Scholar" %>
  </h4>
  <p class="lead">
    <%= t ".description" %>
  </p>
</div>

<div class="mb-2">
  <%= render "search", q: @q %>
</div>

<div id="scholar-results">
  <%= render "scholars", scholars: @scholars %>
</div>
