<div class="container">
  <div class="site-footer">
    <ul class="list-inline float-right">
      <li class="list-inline-item"><%= link_to t(".donate.link"), "#" %></li>
      <li class="list-inline-item"><%= link_to t(".contact.link"), "#" %></li>
      <li class="list-inline-item"><%= link_to t(".about.link"), about_path %></li>
    </ul>
    <ul class="list-inline">
      <li class="list-inline-item">&copy; <%= Date.current.year %> abhinavnepal</li>
      <li class="list-inline-item"><%= link_to t(".terms.link"), "#" %></li>
      <li class="list-inline-item"><%= link_to t(".privacy.link"), privacy_path %></li>
    </ul>
  <div>
</div>
