<!DOCTYPE html>
<html>
  <head>
    <title><%= t("app.name") %></title>
    <%= csrf_meta_tags %>
    <meta name="description" content="<%= t('app.description') %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= favicon_link_tag "favicon.ico" %>
    <%= favicon_link_tag "favicon32.png", rel: "icon", type: "image/png" %>
    <%= favicon_link_tag "favicon16.png", rel: "icon", type: "image/png" %>
    <%= favicon_link_tag "apple-touch-icon.png", rel: "apple-touch-icon", sizes: "180x180", type: "image/png" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# Google analytics - only monitor production site %>
    <% if Rails.application.stage.prod? %>
      <%= render "layouts/ga_prod" %>
    <% end %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>">
    <%= render "navigations/navbar" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
