<!DOCTYPE html>
<html>
  <head>
    <title>AbhinavNepal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller_name %>">
    <%= render "navigations/navbar" %>
    <div class="container">
      <%= render partial: "layouts/flash" unless controller_name == "sessions" %>
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
